.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  margin: 0.5em;
}

.warn {
  color: red;
}

mat-expansion-panel.mat-expansion-panel {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}
